.page__container {
    padding-top: 64px;
}
.page__header h4 {
    margin: 12px 0;
}

.page__filter {
    margin: 12px 0;
    font-size: 14px;
}

.page__content .actions{
    display: flex;
    justify-content: flex-end;
    padding: 12px;
}
