.button {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 2;
  cursor: pointer;

  &:hover {
    background-color: 'grey';
  }
  @include mobile {
    height: 40px;
  }
}
